/*******************************************
 ***** DEFAULT STYLE ***********************
 *******************************************/

html {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6,
p, td, th, li, dt, dd, blockquote, pre {
    line-height: 120%;
}

h1, h2, h3, h4, h5, h6 {
    font: {
        weight: bold;
    }
}

i {
    font: {
        style: italic;
    }
}

b {
    font: {
        weight: bold;
    }
}

ins {
    text-decoration: none;
    border-bottom: {
        style: dashed;
        width: 1px;
    }
}

s,
del {
    text-decoration: line-through;
}

em {
    font: {
        style: italic;
    }
}

strong {
    font: {
        weight: bold;
    }
}

pre {
    font: {
        family: monospace;
    }
}

cite {
    font: {
        style: italic;
    }
}

blockquote {
    margin: {
        left: $unitPc;
        right: $unitPc;
    }
}

code,
var,
kbd {
    font: {
        family: monospace;
    }
}
